footer {
  background-color: #007bff;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.jumbotron {
  background-color: #007bff;
  color: #fff;
}
 
 .p-t-1 {
    padding-top: 1rem!important;
}

form, table {
	font-size: 12px;
}

.top-buffer { margin-top:20px; }